<!DOCTYPE html>
<html lang="en">
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {float: left;}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {background-color: #111;}

</style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <li><a href="{% url 'Inicio' %}">Inicio</a></li>
    <li><a href="{% url 'viewSongs' %}">Ver canciones</a></li>
    <li><a href="{% url 'loadSongs' %}">Cargar canciones</a></li>
    <li><a href="{% url 'viewInstruments' %}">Ver instrumentos</a></li>
    <li><a href="{% url 'loadInstruments' %}">Cargar instrumentos</a></li>
    <li><a href="{% url 'viewMovies' %}">Ver peliculas</a></li>
  </ul>

  {% block inicio %}
  {% endblock %}

  {% block viewSongs %}
  {% endblock %}

  {% block searchSongs %}
  {% endblock %}

  {% block loadSongs %}
  {% endblock %}

  {% block viewInstruments %}
  {% endblock %}

  {% block loadInstruments %}
  {% endblock %}

  {% block viewMovies %}
  {% endblock %}

</body>
</html>