{% extends "padre.html" %}
{% load static %}
{% block viewInstruments %}

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 30px;
  }

  .my-buttons {
    display: flex;
    justify-content: center;
    button {
        cursor: pointer;
    }
}

</style>
  
<h1>Listado de instrumentos utilizados por The Beatles!!!</h1>
  
<p>
Buscar por marca/brand:
</p>


<form action="">
  {% csrf_token %}
  <input type="text" name="pattern" id="pattern">
  <input type="submit" value="Buscar!" formmethod="POST">
  <input type="submit" value="Limpiar" formmethod="GET">
</form>

<p></p>

<p>
  {% if busqueda == True %}
  <p>{{ mensaje }}</p>
  {% endif %}
</p>


<table>
  <tr>
    <th>Type</th>
    <th>Brand</th>
    <th>Model</th>
  </tr>
  {% for item in searchResults %}
  <tr>
    <td>{{ item.type }}</td>
    <td>{{ item.brand }}</td>
    <td>{{ item.model }}</td>
  </tr>
  {% endfor %}
</table>
  
{% endblock %}