{% extends "padre.html" %}
{% load static %}
{% block viewSongs %}

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 30px;
  }
</style>
  
<h1>Listado de canciones de The Beatles!!!</h1>
  
<p>
  Buscar por nombre/name:
</p>

<form action="">
  {% csrf_token %}
  <input type="text" name="pattern" id="pattern">
  <input type="submit" value="Buscar!" formmethod="POST">
  <input type="submit" value="Limpiar" formmethod="GET">
</form>

<p></p>

<p>
  {% if busqueda == True %}
  <p>{{ mensaje }}</p>
  {% endif %}
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Composer</th>
    <th>Album</th>
    <th>Year</th>
  </tr>
  {% for item in searchResults %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{{ item.composer }}</td>
    <td>{{ item.album }}</td>
    <td>{{ item.year }}</td>
  </tr>
  {% endfor %}
</table>
  
{% endblock %}